<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <br><br>
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" id="email" ngModel required email #email="ngModel">
          <p class="help-block" *ngIf="email.touched && email.invalid" style="color: red;">
            Please enter a valid email address
          </p>
        </div>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select class="form-control" name="subscription" id="subscription" [ngModel]="defaultSubscription">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" id="password" ngModel required #password="ngModel">
          <p class="help-block" *ngIf="password.touched && password.invalid" style="color: red;">
            Please enter password
          </p>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
