<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control"
              ngModel
              required>
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              ngModel
              required
              email
              #email="ngModel">
              <span class="help-block" *ngIf="email.touched && email.invalid">
                Please enter a valid email id
              </span>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" name="secret" [ngModel]="defaultQuestion">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="questionAnswer" rows="3" [(ngModel)]="answer">
          </textarea>
        </div>
        <p>Your reply: {{ answer }} </p>
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
