<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <!-- No two structural directives can reside in one tag -->
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let odd of oddNumbers"
            [ngStyle]="{'backgroundColor': odd % 2 !== 0 ? '#ffbbbb' : 'transparent'}"
            [ngClass]="{red: odd % 2 !== 0}">
            {{ odd }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngStyle]="{'backgroundColor': even % 2 !== 0 ? '#ffbbbb' : 'transparent'}"
            [ngClass]="{red: even % 2 !== 0}">
            {{ even }}
          </li>
        </div>

        <!----------------------- Alternate Way ------------------------>
        <!-- <div *ngFor="let num of numbers">
          <li class="list-group-item" *ngIf="num % 2 == 1">
            <span>{{ num }}</span>
          </li>
          <li class="list-group-item" *ngIf="!onlyOdd && num % 2 == 0">
            <span>{{ num }}</span>
          </li>
        </div> -->
      </ul>
    </div>
  </div>
</div>
