<button class="btn-btn-primary" (click)="onDisplayDetails()">
  Display Details
</button>
<p *ngIf="showParagraph">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam quo quaerat
  totam suscipit dolor tenetur nisi velit itaque ad saepe et facilis alias eligendi
  quis id, dolore veritatis dignissimos?
</p>
<br>
<label for="">Timestamps:</label>
<div *ngFor="let log of logs; let i = index">
   <div
    [ngClass]="{'white-text': i >= 4}"
    [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}">
    {{ log }}
  </div>
</div>
